# Ignore everything
*

# But not these files...
!.gitignore
!kitty/*
!tmux/*
!fish/*
# etc...

# Don't ignore subdirectories
!*/*/*/
!*/*/
!*/
tmux/plugins/tmux-continuum
tmux/plugins/tmux-gruvbox
tmux/plugins/tmux-menus
tmux/plugins/tmux-nerd-font-window-name
tmux/plugins/tmux-open-nvim
tmux/plugins/tmux-power
tmux/plugins/tmux-power-zoom
tmux/plugins/tmux-powerline
tmux/plugins/tmux-resurrect
tmux/plugins/tmux-sessionist
tmux/plugins/tmux-yank
tmux/plugins/tpm
nvim
heroic/tools/proton/Proton-GE-latest/protonfixes
wezterm
